# IntelliJ IDEA
.idea/
*.iml
out/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Maven & Gradle
target/
build/

# Logs
*.log
logs/
*.log.*

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# Compiled files
*.class

# System-specific files
._*
.Spotlight-V100
.Trashes
.nfs*
